---
type Repositorio = {
  _id: string;
  name: string;
  created_at: string;
  updated_at: string;
};

async function obtenerRepositorios(): Promise<any[]> {
  const respuesta = await fetch("http://127.0.0.1:8000/github/");
  if (!respuesta.ok) {
    throw new Error("No se pudieron obtener los repositorios");
  }

  const datos = await respuesta.json();
  console.log(datos);
  const repositorios = datos.repositories;
  return repositorios;
}

const repositorios = await obtenerRepositorios();
---

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {
        repositorios.map((repo) => (
          <div class="column is-one-quarter">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left" />
                  <div class="media-content">
                    <p class="title is-5">{repo.name}</p>
                    <p class="subtitle is-6">
                      <a href={repo.github?.html_url || "#"} target="_blank">
                        Ver en GitHub
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
